<h1>Books</h1>


<table border="1">
<thead>
	<tr>
		<th><%= "Title" %></th>
		<th><%= "Body" %></th>
		<th colspan="3"></th>
	</tr>
</thead>

<tbody>
	<% @lists.each do |list| %>
<tr>
	<td><%= list.title %></td>
	<td><%= list.body %></td>
	<td><%= link_to "Show", todolists_path %></td>
	<td><%= link_to "Edit", edit_todolist_path %></td>
	<td><%= link_to "Destroy", todolist_path, method: :delete, "data-confirm" =>"Are you sure?" %></td>
</tr>
</tbody>
</table>




<% end %>