<h1>Bookers</h1>
<!-- form_for部分 -->
<%= form_for(@list, url: '/todolists') do |f| %>

	<h4>Book</h4>

	<%= f.label :Title %><br>
	<%= f.text_field :title %><br>


	<%= f.label :Body %><br>
	<%= f.text_area :body %><br>

	<%= f.submit 'CreateBook' %>
<% end %>